<template>
    <div class="formulario-container">
      <h2 class="titulo">Formulario con Validación</h2>
  
      <form @submit.prevent="validarFormulario" class="formulario">
        <!-- Nombre -->
        <div class="campo-formulario">
          <label for="nombre" class="etiqueta">Nombre:</label>
          <input type="text" id="nombre" v-model="nombre" class="entrada" required>
          <span v-if="errores.nombre" class="error-message">{{ errores.nombre }}</span>
        </div>
  
        <!-- Apellidos -->
        <div class="campo-formulario">
          <label for="apellidos" class="etiqueta">Apellidos:</label>
          <input type="text" id="apellidos" v-model="apellidos" class="entrada" required>
          <span v-if="errores.apellidos" class="error-message">{{ errores.apellidos }}</span>
        </div>
  
        <!-- Edad -->
        <div class="campo-formulario">
          <label for="edad" class="etiqueta">Edad:</label>
          <input type="number" id="edad" v-model="edad" class="entrada" required>
          <span v-if="errores.edad" class="error-message">{{ errores.edad }}</span>
        </div>
  
        <!-- Género -->
        <div class="campo-formulario">
          <label for="genero" class="etiqueta">Género:</label>
          <select id="genero" v-model="genero" class="entrada" required>
            <option value="">Selecciona</option>
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
            <option value="otro">Otro</option>
          </select>
          <span v-if="errores.genero" class="error-message">{{ errores.genero }}</span>
        </div>
  
        <button type="submit" class="boton-enviar">Enviar</button>
      </form>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        nombre: '',
        apellidos: '',
        edad: '',
        genero: '',
        errores: {},
      };
    },
    methods: {
      validarFormulario() {
        // Resetear mensajes de error
        this.errores = {};
  
        // Validar Nombre
        if (this.nombre.length < 5 || this.nombre.length > 18) {
          this.errores.nombre = 'El nombre debe tener entre 5 y 18 caracteres.';
        }
  
        // Validar Apellidos
        if (this.apellidos === this.nombre) {
          this.errores.apellidos = 'Los apellidos no pueden ser iguales al nombre.';
        }
  
        // Validar Edad
        const edad = parseInt(this.edad, 10);
        if (isNaN(edad) || edad <= 0 || edad >= 60) {
          this.errores.edad = 'La edad debe ser mayor a 0 y menor a 60.';
        }
  
        // Validar Género
        if (!this.genero) {
          this.errores.genero = 'Selecciona un género.';
        }
  
        // Si todas las validaciones pasan, el formulario hará el envio o realizar otras acciones.
        if (Object.keys(this.errores).length === 0) {
          alert('Formulario válido. Puedes enviar los datos.');
        }
      },
    },
  };
  </script>
  
  <style scoped>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .formulario-container {
    text-align: center;
    width: 100%;
  }
  
  .titulo {
    margin-bottom: 20px;
  }
  
  .formulario {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .campo-formulario {
    margin-bottom: 15px;
  }
  
  .etiqueta {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .entrada {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .boton-enviar {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .boton-enviar:hover {
    background-color: #45a049;
  }
  </style>
  